.card {
  border: none !important;
  text-align: center;
}

.image-box {
  height: 200px;
  object-fit: contain;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header {
  font-size: 1.625rem;
  line-height: 1.5;
  margin-bottom: 0 !important;
}

.sub-header {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 1.875rem;
}

@media (min-width: 768px) {
  .header {
    font-size: 1.5rem;
  }
  
  .sub-header {
    font-size: 1.125rem;
  }
}
